.footer {
  background-color: #0f172a; 
  color: #9ca3af;           
  text-align: center;
  padding: 1.5rem 0;       
  font-size: 0.95rem;
  font-family: 'Poppins', sans-serif;
  border-top: 1px solid rgba(25, 24, 24, 0.05);
  letter-spacing: 0.3px;


  &:hover {
    color: #e5e7eb; 
    transition: color 0.3s ease;
  }

  @media (max-width: 768px) {
    font-size: 0.85rem;
    padding: 1rem 0;
  }
}
